*{
 margin: 0;   
 padding: 0;
 box-sizing: border-box;
}

html{
    font-size: 15px;
}
body{
    height: 100vh;
    background: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 325px;
    height: 90%;
    background: hsl(244, 38%, 16%);
    border-radius: 5px;
    text-align: center;
    font-family: 'inter', sans-serif;
}
.img-container{
    background-image: url(image-header-mobile.jpg);
    height: 32%;
    width: 100%;
    background-color: hsl(277, 75%, 54%);
    opacity: .6;
    background-size: 100%;
}
h1{
    font-size: 2rem;
    color: white;
    padding: 2rem, 1rem;
    margin-top: 15px;
}
h1 span{
    color: hsl(277, 64%, 61%);
}
.container-paragraph{
    font-size: 1rem;
    padding: 0 3.5rem;
    margin-top: 10px;
    color: hsla(0, 0%, 100%, .75);
}
.container-list{
    padding: 1.5rem;
}
ul li{
   margin-top: 10px;
   font-size: 1.5rem; 
   font-weight: 500;
   color: white;
   list-style-type: none;
}
ul p{
    margin-top: 8px;
    font-size: 10px;
    font-weight: bold;
    color: hsla(0, 0%, 100%, .6);
}